<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Welcome!</title>
</head>
<body>
    <div class="header flexed al-cent">
        <div class="h-1 single padd-left-5 marg-left-5">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.png')}}" alt="logo">lPlace</h1>
        </div>
        <div class="h-2 single padd-left-5 edit-links">
            <a href="/">back to login</a>
        </div>
    </div>
    <div class="whole page padd-bottom-10 center">
        <div class="padding-10 center letter-spc" id="prof-name">
            <h1>Welcome to C<img src="{{url_for('static',filename='img/sunglasses.png')}}" alt="logo" id="choose-logo">lPlace!</h1>
        </div>
        <div class="form just-cent center">
            <form action="/register/" method="post">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="f-1 just-cent flexed">
                    <label>First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <div class="f-1 just-cent flexed">
                    <label>Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <div class="f-1 just-cent flexed">
                    <label>Username:</label>
                    <input type="text" name="username">
                </div>
                <div class="f-1 just-cent flexed">
                    <label>Email:</label>
                    <input type="text" name="email">
                </div>
                <div class="f-1 just-cent flexed">
                    <label>Password:</label>
                    <input type="password" name="password">
                </div>
                <div class="f-1 just-cent flexed">
                    <label>Confirm Password:</label>
                    <input type="password" name="conf_password">
                </div>
        </div>
        <div class="center marg-top-20">
            <h1>Choose your avatar</h1>
        </div>
        <div class="av-imgs padd-top-10">
            <div class="flexed sp-btw wrap radio sixty centered">
                {% for avatar in avatars %}
                <div class="margin marg-bottom-20">
                    <input type="radio" name="avatar_id" value="{{avatar.id}}" id="{{avatar.id}}">
                    <label for ="{{avatar.id}}">
                        <div class="low-img padding-10">
                            <img src="{{avatar.file_path}}" alt="option 10">
                            <h3 class="center">{{avatar.name}}</h3>
                        </div>
                    </label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="posted">register</button>
            </form>
        </div>
    </div>
</body>
</html>