<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <div class="header flexed al-cent box-shadow">
        <div class="h-1 single padd-left-5">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.jpg')}}" alt="logo">lPlace</h1>
        </div>
        <div>
            <h1>Welcome, {{current_user.first_name}}!</h1>
        </div>
        <div class="h-2 single padd-left-5">
            <a href="/inbox/" id="link">| Inbox |</a>
            <a href="/logout/" id="link">Logout |</a>
        </div>
    </div>
    <div class="page flexed light-grey">
        <div class="user-info box-shadow">
            <div class="avatar">
                <img id="picture" src="{{current_avatar.file_path}}">
            </div>
            <div>
                <h3>{{current_user.username}}</h3>
            </div>
            <div>
                <h3>{{current_user.first_name + " " + current_user.last_name}}</h3>
            </div>
            <br />
            <div>
                {% if current_prof.birthday == null %}
                <div>
                    <a href="/profile/setup">SET UP YOUR PROFILE HERE!</a>
                </div>
                {% endif %}
                {% if current_prof.birthday != null %}
                <div>
                    <a href="/profile/{{current_user.id}}">View Profile</a>
                    <br />
                    <a href="+">Edit Profile</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="c-post marg-top-10 center">
            <div class="bright padd-top-10 padd-bottom-10 box-shadow marg-top-10">
                <div>
                    <h2 class="marg-bottom-5">Got something to say?</h2>
                    <h2 class="marg-bottom-5">Post it here!</h2>
                </div>
                <div>
                    <form action="/new_post/" method="post">
                        <label>Title:</label>
                        <input type="text" name="title" id="title">
                    </div>
                    <div>
                        <textarea name="content" cols="30" rows="4" placeholder="Say it!" id="content" wrap="hard"></textarea>
                    </div>
                    <div>
                        <button class="posted" type="submit" role="button">Post to Newsfeed</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="colored box-shadow">
                <div class="padd-bottom padd-top">
                    <h2 class="marg-top-10">All Users</h2>
                </div>
                <div class="flexed padd-bottom-10">
                    {% for user in all_users %}
                    <div class="profile-user margin marg-left-10">
                        <a href="/profile/{{user.id}}">
                            <img id="profile-pic" src="{{user.maker.file_path}}">
                        </a>
                        <p>{{user.first_name}}</p>
                        <p>{{user.username}}</p>
                        <p class="marg-left-5">
                            {% if user.online == 1 %}
                            <span id="green-dot">ONLINE</span>
                            {% endif %}
                            {% if user.online ==  0%}
                            <span id="red-dot">OFFLINE</span>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="v-post marg-top-10">
            <div>
                <h2 id="coolfeed" class="center">C<img src="{{url_for('static',filename='img/sunglasses1.jpg')}}" alt="logo">lFeed</h2>
            </div>
            {% for post in all_posts %}
            <div class="actpost marg-top-10 box-shadow">
                <div class="flexed">
                    <div class="hidden"></div>
                    <div class="padd-bottom centered">
                        <h2 class="center">{{post.title}}</h2>
                    </div>
                    {% if session["user_id"] == post.user_id %}
                    <div class="flexed al-cent just-right watch-button">
                        <div>
                            <img src="{{url_for('static',filename='img/cool-icon.jpg')}}" alt="cool-icon" id="icon-tiny">
                        </div>
                        <div>
                            <p id="icon-tiny-text" class="marg-left-5">{{post.like_count}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if session["user_id"] != post.user_id %}
                    <div class="just-right whole-button">
                        <a href="/like/post/{{post.id}}">
                            <button class="flexed al-cent posted-comm">
                                <img src="{{url_for('static',filename='img/cool-icon.jpg')}}" alt="cool-icon" id="icon-tiny">
                                <p id="icon-tiny-text" class="marg-left-5">{{post.like_count}}</p>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <div class="flexed al-cent padd-bottom just-cent">
                    <div>
                        <h3>{{post.maker.username}}</h3>
                    </div>
                    <div>
                        <h4 class="marg-left-10">{{post.maker.created_at}}</h4>
                    </div>
                </div>
                {% if session["user_id"] == post.user_id %}
                <div class="flexed al-cent just-cent edit-links">
                    <a class="marg-left-5" href="/edit/post/{{post.id}}">| Edit |</a>
                    <a class="marg-left-5" href="/delete/post/{{post.id}}"><span id="red-dot">Delete</span> |</a>
                </div>
                {% endif %}
                <div class="marg-bottom-10 marg-top-10 padding underlined">
                    <p id="comm-text" class="padd-bottom">{{post.content}}</p>
                </div>
                <h3 class="center">Comments</h3>
                {% for comment in all_comments %}
                    {% if comment.post_id == post.id %}
                        <div class="actcomment">
                            <div class="flexed sp-btw marg-bottom-5 comment-title-line padding-3">
                                <p>{{comment.creator.username}}</p>
                                <p>Posted on: {{comment.created_at}}</p>
                            </div>
                            <div class="marg-left-20 padding-3">
                                <p id="comm-text">{{comment.comment_text}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <form action="/new-comment/" method="post">
                    <div class="center marg-top-10">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <textarea name="comment_text" cols="20" rows = "2" id="comment_text" wrap="hard" placeholder="Thoughts?"></textarea>
                    </div>
                    <br />
                    <div class="center">
                        <button class="posted-comm" type="submit">Post Comment</button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>