<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <div class="header flexed al-cent box-shadow">
        <div class="h-1 single padd-left-5">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.png')}}" alt="logo">lPlace</h1>
        </div>
        <div>
            <h1>Welcome, {{curr_user[0].creator.first_name}}!</h1>
        </div>
        <div class="h-2 single padd-left-5">
            <a href="/inbox/" id="link">| inbox |</a>
            <a href="/logout/" id="link">logout |</a>
        </div>
    </div>
    <div class="page flexed light-grey">
        <div class="user-info box-shadow">
            <div class="avatar med-blue">
                <img id="picture" src="{{curr_user[0].maker.file_path}}">
            </div>
            <div>
                <h3>{{curr_user[0].creator.username}}</h3>
            </div>
            <div>
                <h3>{{curr_user[0].creator.first_name + " " + curr_user[0].creator.last_name}}</h3>
            </div>
            <br />
            <div>
                <div>
                    <a href="/profile/{{curr_user[0].creator.id}}">View Profile</a>
                    <br />
                    <a href="/edit/profile/">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="c-post marg-top-10 center">
            <div class="bright padd-top-10 padd-bottom-10 box-shadow marg-top-10">
                <div>
                    <h2 class="marg-bottom-5 padd-top">Got something to say?</h2>
                    <h2 class="marg-bottom-10">Post it here!</h2>
                </div>
                <div>
                    <form action="/new_post/" method="post">
                    <div class="marg-bottom-10">
                        <label>Title:</label>
                        <input type="text" name="title" id="title">
                    </div>
                    </div>
                    <div>
                        <textarea name="content" cols="30" rows="4" placeholder="Say it!" id="content" wrap="hard"></textarea>
                    </div>
                    <div class="marg-top-5">
                        <button class="posted" type="submit" role="button">Post to Newsfeed</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="dark box-shadow">
                <div class="padd-bottom padd-top">
                    <h2 class="marg-top-10">All Users</h2>
                </div>
                <div class="flexed padd-bottom-10">
                    {% for user in all_users %}
                    <div class="profile-user margin marg-left-10">
                        <a href="/profile/{{user.id}}">
                            <img id="profile-pic" src="{{user.maker.file_path}}">
                        </a>
                        <p>{{user.first_name}}</p>
                        <p>{{user.username}}</p>
                        <p class="marg-left-5">
                            {% if user.online == 1 %}
                            <span id="green-dot">ONLINE</span>
                            {% endif %}
                            {% if user.online ==  0%}
                            <span id="red-dot">OFFLINE</span>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="v-post marg-top-10">
            <div>
                <h2 id="coolfeed" class="center">C<img src="{{url_for('static',filename='img/sunglasses1.png')}}" alt="logo">lFeed</h2>
            </div>
            {% for post in all_posts %}
            <div class="actpost marg-top-10 box-shadow colored">
                <div class="centered">
                    <h2 class="center marg-bottom-5">{{post.title}}</h2>
                </div>
                <div class="marg-bottom-5 padding-5 padd-bottom-10 underlined">
                    <p id="comm-text" class="padd-bottom">{{post.content}}</p>
                </div>
                <div class="flexed al-cent sp-btw">
                    <div class="flexed al-cent padd-bottom just-left edit-links">
                        <div>
                            <a href="/profile/{{post.maker.id}}">
                            <img src="{{post.creator.file_path}}" id="icon-sm">
                        </div>
                        <div>
                            <h3>{{post.maker.username}} |</h3></a>
                        </div>
                        <div>
                            <h4 class="marg-left-10">{{post.maker.created_at}}</h4>
                        </div>
                        {% if session["user_id"] == post.user_id %}
                        <div class="flexed al-cent just-cent edit-links">
                            <h4>
                                <a class="marg-left-5" href="/edit/post/{{post.id}}">( edit |</a>
                                <a class="marg-left-5" href="/delete/post/{{post.id}}"><span id="red-dot">delete</span> )</a>
                            </h4>
                        </div>
                        {% endif %}
                    </div>
                    {% if session["user_id"] == post.user_id %}
                    <div class="flexed al-cent just-right edit-links box-shadow padding-3 watch-button">
                        <div>
                            <img src="{{url_for('static',filename='img/cool-icon.jpg')}}" alt="cool-icon" id="icon-tiny">
                        </div>
                        <div>
                            <p id="icon-tiny-text" class="marg-left-5">{{post.like_count}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if session["user_id"] != post.user_id %}
                    <div class="just-right edit-links">
                        <a href="/like/post/{{post.id}}">
                            <button class="flexed al-cent cool-btn-l">
                                <img src="{{url_for('static',filename='img/cool-icon.jpg')}}" alt="cool-icon" id="icon-tiny">
                                <p id="icon-tiny-text" class="marg-left-5">{{post.like_count}}</p>
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <br />
                <h3 class="center marg-top-10">Comments</h3>
                {% for comment in all_comments %}
                    {% if comment.post_id == post.id %}
                        <div class="actcomment">
                            <div class="flexed sp-btw marg-bottom-5 padding-3 bottom-border">
                                <div class="flexed just-left al-cent edit-links">
                                    <a href="/profile/{{comment.user_id}}">
                                    <img src="{{comment.creator.file_path}}" id="icon">
                                    <p>{{comment.maker.username}}</a> |</p>
                                    <p class="marg-left-5">{{comment.created_at}}</p>
                                    {% if session["user_id"] == comment.user_id %}
                                        <a href="/delete/comm/{{comment.id}}" class="marg-left-5">( <span id="red-dot">delete</span> )</a>
                                </div>
                                <div class="flexed al-cent just-right box-shadow tiny-padd-btn">
                                    <div>
                                        <img src="{{url_for('static',filename='img/thumb-icon.png')}}" alt="cool-icon" id="icon">
                                    </div>
                                    <div>
                                        <p id="icon-tiny-text" class="marg-left-5">{{comment.like_count}}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if session["user_id"] != comment.user_id %}
                                </div>
                                <div>
                                    <a href="/like/comm/{{comment.id}}"><button class="thumb-btn">
                                    <img src="{{url_for('static',filename='img/thumb-icon.png')}}" id="icon">
                                    <span class="marg-right-5">{{comment.like_count}}</span>
                                    </button></a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="marg-left-20 padding-3">
                                <p id="comm-text">{{comment.comment_text}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <form action="/new-comment/" method="post">
                    <div class="center marg-top-10">
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <textarea name="comment_text" cols="20" rows = "2" id="comment_text" wrap="hard" placeholder="Thoughts?"></textarea>
                    </div>
                    <br />
                    <div class="center">
                        <button class="posted-comm" type="submit">Post Comment</button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>