<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Inbox</title>
</head>
<body>
    <div class="header flexed al-cent box-shadow">
        <div class="h-1 single padd-left-5">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.png')}}" alt="logo">lPlace</h1>
        </div>
        <div class="h-2 single padd-left-5">
            <a href="/dashboard/" id="link">| dashboard |</a>
            <a href="/logout/" id="link">logout |</a>
        </div>
    </div>
    <div class="page flexed light-grey">
        <div class="user-info box-shadow">
            <div class="avatar med-blue">
                <img id="picture" src="{{curr_user[0].maker.file_path}}">
            </div>
            <div>
                <h3>{{curr_user[0].creator.username}}</h3>
            </div>
            <div>
                <h3>{{curr_user[0].creator.first_name + " " + curr_user[0].creator.last_name}}</h3>
            </div>
            <br />
            <div>
                <div>
                    <a href="/profile/{{curr_user[0].creator.id}}">View Profile</a>
                    <br />
                    <a href="/edit/profile/">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="twenty"></div>
        <div class="flexed">
            <div class="marg-top-20">
                <div class="inbox light-color box-shadow padd-top-10">
                    <div>
                        <h2 class="center">inbox</h2>
                    </div>
                    {% for msg in msgs %}
                        {% if msg.recipient_id == session["user_id"] %}
                            {% if msg.isRead == false %}
                            <div class="padding-5 marg-top-5 marg-bottom-5 unread dark i-2">
                            {% endif %}
                            {% if msg.isRead == true %}
                            <div class="padding-5 marg-top-5 marg-bottom-5 i-2">
                            {% endif %}
                            <div class="flexed sp-btw al-cent">
                                <div class="flexed just-left al-cent">
                                    <img src="{{msg.creator.file_path}}" id="icon-sm">
                                    <h3 class="marg-left-5">{{msg.maker.first_name + " " + msg.maker.last_name}}</h3>
                                </div>
                                <div>
                                    {% if msg.isRead == false %}
                                    <h4><a href="/readmsg/{{msg.id}}"><button class="msg-btn">read</button></a></h4>
                                    {% endif %}
                                    {% if msg.isRead == true %}
                                    <h4><a href="/viewmsg/{{msg.id}}"><button class="msg-btn">open</button></a></h4>
                                    {% endif %}
                                </div>
                            </div>
                                <h4>subject: {{msg.subject}}</h4>
                                <h4>received at: {{msg.created_at}}</h4>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <br />
                <br />
                <div class="outbox colored box-shadow">
                    <div>
                        <h2 class="center">outbox</h2>
                    </div>
                    {% for delivery in deliveries %}
                        {% if delivery.user_id == session["user_id"] %}
                        <div class="o-2 padding-5 marg-top-5 marg-bottom-5">
                            <div class="flexed sp-btw al-cent">
                                <div class="flexed just-left al-cent">
                                    <img src="{{delivery.creator.file_path}}" id="icon-sm">
                                    <h3 class="marg-left-5">{{delivery.maker.first_name + " " + delivery.maker.last_name}}</h3>
                                </div>
                                <div class="flexed just-right al-cent">
                                    {% if delivery.isRead == 0 %}
                                    (<p id="red-dot">UNOPENED</p>)
                                    <a href="/unsend-msg/{{delivery.id}}"><button class="msg-btn marg-left-5">unsend</button></a>
                                    {% endif %}
                                    {% if delivery.isRead == 1 %}
                                    (<p id="green-dot">OPENED</p>)
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <h4>sent at: {{delivery.created_at}}</h4>
                            </div>
                            <h4>subject: {{delivery.subject}}</h4>
                            <p class="marg-left-5">{{delivery.msg_text}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <br />
                <br />
            </div>
        </div>
        <div class="middle"></div>
        <div class="send padding-20 box-shadow marg-top-percent bright">
            <form action="/send-msg/" method="post">
                <div class="flexed padding-5 marg-bottom-10 just-cent">
                    <h2 class="padd-right">send msg to:</h2>
                    <select name="recipient_id" id="select">
                        {% for choice in choices %}
                            {% if choice.id != session["user_id"] %}
                                <option value="{{choice.id}}">
                                    {{choice.first_name + " " + choice.last_name}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="flexed padding-5 marg-bottom-10 al-cent">
                    <label><h3>subject:</h3></label>
                    <input type="text" name="subject" id="subject">
                </div>
                <div class="flexed padding-5">
                    <label><h3>message:</h3></label>
                    <textarea name="msg_text" cols="30" rows="4" id="message" wrap="hard"></textarea>
                </div>
                <div class="padding-5 center marg-top-5">
                    <button class="send-btn center" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="twenty"></div>
    </div>

</body>
</html>