<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>CoolNameHere</title>
</head>
<body>
    <div class="row">
        <div class="main-title">
            <h1>Welcome to C<img src="{{url_for('static',filename='img/sunglasses.jpg')}}" alt="logo">lPlace</h1>
        </div>
        <div class="col-2">
            <form action="/login/" method="post">
                <div class="login">
                        <h2>Login</h2>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <div>
                            <input type="hidden" name="which_form" value="login">
                            <label>Email:</label>
                            <input type="text" name="email">
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password">
                        </div>
                        <input type="submit" value="Login" id="login">
                    </div>
                </form>
            <div class="login">
                <h3>Not a member? Join us! <a href="/welcome/">Register here!</a></h3>
            </div>
        </div>
    </div>
</body>
</html>