<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Profile</title>
</head>
<body>
    <div class="header flexed al-cent box-shadow">
        <div class="h-1 single padd-left-5">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.jpg')}}" alt="logo">lPlace</h1>
        </div>
        <div class="h-2 single padd-left-5">
            <a href="/inbox/" id="link">| Inbox |</a>
            <a href="/dashboard/" id="link">Dashboard |</a>
            <a href="/logout/" id="link">Logout |</a>
        </div>
    </div>
    <div class="light-grey page">
        <div class="flexed sp-btw">
            <div class="user-info box-shadow">
                <div class="avatar">
                    <img id="picture" src="{{user_avi.file_path}}">
                </div>
                <div>
                    <h3>{{curr_user.username}}</h3>
                </div>
                <div>
                    <h3>{{curr_user.first_name + " " + curr_user.last_name}}</h3>
                </div>
                <br />
                <div>
                    {% if user_prof.birthday == null %}
                    <div>
                        <a href="/profile/setup">SET UP YOUR PROFILE HERE!</a>
                    </div>
                    {% endif %}
                    {% if user_prof.birthday != null %}
                    <div>
                        <a href="/profile/{{curr_user.id}}">View Profile</a>
                        <br />
                        <a href="+">Edit Profile</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div></div>
            <div class="centered">
                <div class="flexed just-cent">
                    <div class="flexed padding-20 dark box-shadow marg-top-20 marg-right-20">
                        <div class="marg-right-10">
                            <img id="pro-pic" src="{{current_avatar.file_path}}" alt="avatar">
                        </div>
                        <div class="marg-left-20">
                            <h1>{{profile_user.username}}</h1>
                            <br />
                            <h3 class="padd-bottom" id="prof-name">{{profile_user.first_name}}</h3>
                            <div class="flexed al-cent padd-bottom">
                                <div>
                                    <img src="{{url_for('static',filename='img/age-icon.png')}}" alt="hometown" id="icon">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details">{{age}}</h3>
                                </div>
                            </div>
                            <div class="flexed al-cent padd-bottom">
                                <div>
                                    <img src="{{url_for('static',filename='img/birthday-icon.jpg')}}" alt="birthday" id="icon">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details">{{birth_date}}</h3>
                                </div>
                            </div>
                            <div class="flexed al-cent padd-bottom">
                                <div>
                                    <img src="{{url_for('static',filename='img/home-icon.jpg')}}" alt="hometown" id="icon-sm">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details">{{curr_profile.hometown}}</h3>
                                </div>
                            </div>
                            <div class="flexed al-cent padd-bottom">
                                <div class="marg-left-5">
                                    <img src="{{url_for('static',filename='img/pin-icon.jpg')}}" alt="location" id="icon-sm">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details" class="marg-left-5">{{curr_profile.location}}</h3>
                                </div>
                            </div>
                            <div class="flexed al-cent padd-bottom">
                                <div>
                                    <img src="{{url_for('static',filename='img/tv-icon.jpg')}}" alt="tv-show" id="icon">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details">{{curr_profile.fav_show}}</h3>
                                </div>
                            </div>
                            <div class="flexed al-cent padd-bottom">
                                <div>
                                    <img src="{{url_for('static',filename='img/film-icon.jpg')}}" alt="movie" id="icon">
                                </div>
                                <div class="marg-left-5">
                                    <h3 id="prof-details">{{curr_profile.fav_movie}}</h3>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="max-width bright box-shadow marg-top-20 padding marg-left-20">
                        <div class="center padd-bottom padd-top">
                            <h2 class="letter-spc">About Me</h2>
                        </div>
                        <div class="about_me padding eighty">
                            {{curr_profile.about_me}}
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="flexed al-cent just-cent">
                    <div class="marg-right-5">
                        <img src="{{url_for('static',filename='img/quote-left.jpg')}}" alt="movie" id="icon">
                    </div>
                    <div>
                        <h3 id="big-quote">{{curr_profile.fav_quote}}</h3>
                    </div>
                    <div class="marg-left-5">
                        <img src="{{url_for('static',filename='img/quote-right.jpg')}}" alt="movie" id="icon">
                    </div>
                </div>
                <br />
                <br />
                <div class="flexed just-cent">
                    <div class="dark-blue padd-left-30 padd-right-30 padd-bottom-20 padd-top-20 box-shadow marg-right-20">
                        <div>
                            <h2 class="center padd-bottom-10">Leave a comment!</h2>
                        </div>
                        <div>
                            <form action="/new_procomm/" method="post">
                                <input type="hidden" name="profile_id" value="{{curr_profile.id}}">
                                <input type="hidden" name="user_id" value="{{curr_user.id}}">
                                <div class="marg-bottom-10">
                                    <label>Title:</label>
                                    <input type="text" name="comment_title" id="title">
                                </div>
                            </div>
                            <div>
                                <textarea name="comment_text" cols="30" rows="4" placeholder="What do you want to say?" id="content" wrap="hard"></textarea>
                            </div>
                            <div class="marg-top-5 center">
                                <button class="posted-comm" type="submit" role="button">Post Comment</button>
                            </form>
                        </div>
                    </div>
                    <div class="colored box-shadow padding-20 max-width marg-left-20">
                        <div>
                            <h2 class="center letter-spc">Comments</h2>
                        </div>
                        <div>
                            {% for comm in all_procomms %}
                            <div class="pro-comm padding-5 marg-top-10">
                                <div class="marg-bottom-10">
                                    <h3>{{comm.comment_title}}</h3>
                                    <p>{{comm.comment_text}}</p>
                                </div>
                                <div class="top-border fit-cont">
                                    <p class="padd-left-5 padd-right">{{comm.created_at}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>