<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Profile</title>
</head>
<body>
    <div class="header">
        <div class="h-1">
            <h1>C<img src="{{url_for('static',filename='img/sunglasses.jpg')}}" alt="logo">lPlace</h1>
        </div>
        <div class="h-2">
            <a href="/inbox/" id="link">| Inbox |</a>
            <a href="/dashboard/" id="link">Dashboard |</a>
            <a href="/logout/" id="link">Logout |</a>
        </div>
    </div>
    <div class="page">
        <div class="user-info">
            <div class="avatar">
                <img id="picture" src="{{current_avatar.file_path}}">
            </div>
            <div>
                <h3>{{curr_user.username}}</h3>
            </div>
            <div>
                <h3>{{curr_user.first_name + " " + curr_user.last_name}}</h3>
            </div>
            <br />
            {% if user_prof.birthday == null %}
            <div>
                <a href="/profile/setup">SET UP YOUR PROFILE HERE!</a>
            </div>
            {% endif %}
            {% if user_prof.birthday != null %}
            <div>
                <a href="+">View Profile</a>
                <br />
                <a href="+">Edit Profile</a>
            </div>
            {% endif %}
        </div>
        <div class="half">
            <div class="flexed centered dark prof-user">
                <div class="marg-right-10">
                    <img id="pro-pic" src="{{current_avatar.file_path}}" alt="avatar">
                </div>
                <div class="marg-left-10">
                    <h1>{{profile_user.username}}</h1>
                    <br />
                    <h3 class="padd-bottom" id="prof-name">{{profile_user.first_name}}</h3>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/age-icon.png')}}" alt="hometown" id="icon">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{age}}</h3>
                        </div>
                    </div>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/birthday-icon.jpg')}}" alt="birthday" id="icon">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{birth_date}}</h3>
                        </div>
                    </div>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/home-icon.jpg')}}" alt="hometown" id="icon-sm">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{curr_profile.hometown}}</h3>
                        </div>
                    </div>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/pin-icon.jpg')}}" alt="location" id="icon-sm">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{curr_profile.location}}</h3>
                        </div>
                    </div>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/tv-icon.jpg')}}" alt="tv-show" id="icon">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{curr_profile.fav_show}}</h3>
                        </div>
                    </div>
                    <div class="flexed al-cent padd-bottom">
                        <div>
                            <img src="{{url_for('static',filename='img/film-icon.jpg')}}" alt="movie" id="icon">
                        </div>
                        <div class="marg-left-5">
                            <h3 id="prof-details">{{curr_profile.fav_movie}}</h3>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <div class="half dark">
            <div>
                <div class="center padd-bottom padd-top">
                    <h2 class="letter-spc">About Me</h2>
                </div>
                <div class="about_me">
                    {{curr_profile.about_me}}
                </div>
            </div>
            <br />
            <br />
            <div class="flexed just-cent al-bottom">
                <div>
                    <img src="{{url_for('static',filename='img/quote-left.jpg')}}" alt="movie" id="icon">
                </div>
                <div>
                    <h3 id="big-quote">{{curr_profile.fav_quote}}</h3>
                </div>
                <div>
                    <img src="{{url_for('static',filename='img/quote-right.jpg')}}" alt="movie" id="icon-sm">
                </div>
            </div>
        </div>
    </div>
</body>
</html>