* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/**************BACKGROUND COLORS*************************/

.whole, .like-button, .comment-title-line, .pro-comm {
    background-color: #B0BFBB;
}

.colored {
    background-color: #909c8e;
}

.bright {
    background-color: #adba9b;
}

.light-grey {
    background-color: #CED7DF;
}

.header, .user-info, .light-blue {
    background-color: #B1CAD3;
}

.popup, .light-color {
    background-color: #CDDDDD;
}

.dark {
    background-color: #99ADAA;
}

.dark-blue {
    background-color: #80a1ad;
}

/**********************************************************/

.header {
    padding-bottom: 3px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.page, .whole {
    margin-top: 35px;
}

textarea { resize: none; }

/**-----------------------------GENERIC------------------------------------*/

.single {
    flex: 1;
}

.hundred {
    height: 100%;
}

.eighty {
    height: 80%;
}

.fit-cont {
    width: fit-content;
}

.padding {
    padding: 10px;
}

.padding-3 {
    padding: 3px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padd-bottom {
    padding-bottom: 5px;
}

.padd-bottom-10 {
    padding-bottom: 10px;
}

.padd-bottom-20 {
    padding-bottom: 20px;
}

.padd-top {
    padding-top: 5px;
}

.padd-top-10 {
    padding-top: 10px;
}

.padd-top-20 {
    padding-top: 20px;
}

.padd-left-5 {
    padding-left: 5px;
}

.padd-left-10 {
    padding-left: 10px;
}

.padd-left-20 {
    padding-left: 20px;
}

.padd-left-30 {
    padding-left: 30px;
}

.padd-right {
    padding-right: 5px;
}

.padd-right-30 {
    padding-right: 30px;
}

.margin {
    margin: 5px;
}

.marg-left-5 {
    margin-left: 5px;
}

.marg-left-10 {
    margin-left: 10px;
}

.marg-left-20 {
    margin-left: 20px;
}

.marg-right-5 {
    margin-right: 5px;
}

.marg-right-10 {
    margin-right: 10px;
}

.marg-right-20 {
    margin-right: 20px;
}

.marg-top-5 {
    margin-top: 5px;
}

.marg-top-10 {
    margin-top: 10px;
}

.marg-top-20 {
    margin-top: 20px;
}

.marg-top-percent {
    margin-top: 2.5%;
}

.marg-bottom-10 {
    margin-bottom: 10px;
}

.marg-bottom-5 {
    margin-bottom: 5px;
}

.text-left {
    text-align: left;
}

.centered {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.flexed {
    display: flex;
}

.sp-btw {
    justify-content: space-between;
}

.just-left {
    justify-content: left;
}

.just-cent {
    justify-content: center;
}

.just-right {
    justify-content: right;
}

.sp-ar {
    justify-content: space-around;
}

.sp-even {
    justify-content: space-evenly;
}

.al-cent {
    align-items: center;
}

.al-bottom {
    align-items: baseline;
}

.letter-spc {
    letter-spacing: 3px;
}

/**------------------------------BORDERS-------------------------------------*/

.login, .avatar, .watch-button, .profile-user, .o-2 {
    border: 2px solid #CDDDDD;
}

.header {
    border-bottom: 2px solid #CDDDDD;
}

.user-info {
    border-right: 2px solid #CDDDDD;
}

.underlined {
    border-bottom: 3px solid #CDDDDD;
}

.top-border {
    border-top: 2px solid #909c8e;
}

.actcomment {
    border: 2px solid #B0BFBB;
}

.pro-comm {
    border-radius: 240px 20px 250px 20px/20px 250px 20px 240px;
    border:solid 3px #B0BFBB;
}

.about_me {
    border-radius: 240px 20px 250px 20px/20px 250px 20px 240px;
    border:solid 3px #CDDDDD;
}

/**------------------------------INDEX-------------------------------------*/

.login {
    padding: 15px;
    max-width: fit-content;
}

.login label, .login input, .login h2 {
    margin-bottom: 8px;
}

.login h2 {
    font-weight: 100;
}

.form input[type=text], .form input[type=password], .login input[type=text], .login input[type=password] {
    padding: 0;
    height: 20px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px;
    margin: 3px;
}

.main-title {
    font-size: 25px;
}

.main-title img {
    width: 70px;
    height: 25px;
}


/**-------------------------------CHOOSE-------------------------------------*/

#choose-logo, .col-1 img {
    height: 20px;
    width: auto;
}

.av-imgs {
    margin-left: 80px;
    margin-right: 80px;
}

.av-imgs img {
    height: 80px;
    width: 80px;
}

.low-img, .high-img {
    border: 2px white solid;
}

.f-1 label {
    margin-top: 3px;
    margin-right: 2px;
}

#register {
    border: none;
    text-decoration: none;
    font-family: monospace;
    background-color: #B0BFBB;
    padding: 5px;
    text-align: right;
    box-shadow: 2px 2px grey;
    margin-top: 15px;
}


/**-------------------------------DASHBOARD-------------------------------------*/
.watch-button {
    padding: 0.3em 0.5em;
}


.box-shadow, .profile-user:hover, .o-2:hover, .i-2:hover, .actcomment:hover, .pro-comm:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.h-2 {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

.h-1 img, .v-post img {
    width: 30px;
    height: 13px;
}

.v-post img {
    padding-right: 4px;
}

.user-info {
    width: fit-content;
    padding: 15px;
}

.user-info h3 {
    margin-top: 5px;
}

.c-post {
    flex: 2;
    margin-left: 2.5%;
    margin-right: 1.25%;
}

.actpost {
    margin-bottom: 20px;
    padding: 12px;
}

.v-post {
    flex: 2;
    margin-right: 2.5%;
    margin-left: 1.25%;
    height: 100%;
}

.avatar, .avatar img {
    height: 130px;
    width: 130px;
}

#title, #content {
    border: none;
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 3px;
}

#title {
    width: 500px;
    height: 20px;
}

#content {
    width: 550px;
    height: 150px;
    text-align: left;
    padding: 3px;
}

#comment, #send, #login, #like-btn {
    border: none;
    padding: 3px;
    box-shadow: 2px 2px grey;
}

.posted, .posted-comm {
    border-color: #ffffff;
    cursor: pointer;
    padding: 0.3em 0.5em;
    font-size: 1em;
    color: black;
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.posted-comm {
    background-image: linear-gradient(45deg, transparent 50%, #B1CAD3 50%);
}

.posted {
    background-image: linear-gradient(45deg, transparent 50%, #cddbb9 50%);
}

.posted:hover, .posted-comm:hover {
    color: #ffffff;
    background-position: 100%;
}

#link {
    text-decoration: none;
    color: black;
}

#coolfeed {
    letter-spacing: 7px;
    font-size: 25px;
}

.actcomment, .comments, #login {
    margin-top: 8px;
}

#comment_text {
    padding: 3px;
    margin-top: 5px;
    border: none;
    width: 90%;
    height: 50px;
}

#comm-text {
    font-size: 14px;
}

#profile-pic {
    height: 75px;
    width: 75px;
}

.profile-user {
    margin-top: 1.5%;
    width: fit-content;
    padding: 10px;
}

#green-dot {
    color: green;
}

#red-dot {
    color: rgb(222, 14, 14);
}

#icon-tiny {
    height: 20px;
    width: auto;
}

#icon-tiny-text {
    font-size: 18px;
}

.whole-button {
    width: fit-content;
}

.whole-button a, .edit-links a {
    text-decoration: none;
    color: black;
}

.hidden {
    width: 7%;
}

/**-------------------------------INBOX-------------------------------------*/

.inbox, .outbox {
    padding: 10px 15px 5px 15px;
    height: 350px;
    width: 600px;
    overflow-y: scroll;
}

#subject, #message, #select {
    border: 1px #cacdcf solid;
    margin-left: 3px;
}

#subject, #message, #select, #title, #content, #comment_text {
    background-color: #dee2e6;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#subject, #message {
    width: 30vw;
}

#message {
    height: 15vw;
}

#subject {
    height: 25px;
}

.send {
    padding-right: 35px;
    height: fit-content;
}

.middle {
    width: 8%;
}

.twenty {
    width: 20%;
}

.inbox::-webkit-scrollbar, .outbox::-webkit-scrollbar {
    background-color: #cacdcf;
}

  /* Track */
.inbox::-webkit-scrollbar-track, .outbox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

.inbox::-webkit-scrollbar-thumb {
    background: #99ADAA;
}

.outbox::-webkit-scrollbar-thumb {
    background-color: #CDDDDD;
}

.popup {
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;  
    margin:auto;
    width:500px;
    height:500px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    border:2px solid grey;
    z-index:100000000000000000;
}

.cancel {
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color: white;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
}

.cancel:hover {
    background:black;
}

/**-------------------------------EDIT POST-------------------------------------*/

.edit {
    margin: auto;
    text-align: left;
    padding-top: 20px;
}

#update {
    border: none;
    padding: 3px;
    box-shadow: 2px 2px grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**---------------------------------PROFILE-----------------------------------------*/
#pro-pic {
    height: 250px;
    width: auto;
}

#icon {
    height: 15px;
    width: auto;
}

#icon-sm {
    height: 25px;
    width: auto;
}

.prof-form {
    padding-left: 35%;
}

#big-quote {
    font-size: 25px;
}

#prof-details {
    font-size: 17px;
}

#prof-name {
    font-size: 20px;
}

.about_me {
    max-height: fit-content;
    text-overflow: ellipsis;
    overflow-wrap: normal;
    line-height: 1.5;
    padding-left: 10px;
    overflow-y: auto;
}

.max-width {
    width: 45%;
}